<div class="container m-top-20 m-bottom-20">
 <div class="clearfix"><div class="col-md-12 p-left-0"><h3>Profile - <b>Recruited</b></h3></div></div>
    <form name="profilingForm" novalidate>
        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)" dismiss-on-timeout={{alert.time}} >{{alert.message}}</div>
        <div class="form-group col-md-3" ng-class="{ 'has-error' : profilingForm.cnic.$invalid && profilingForm.cnic.$touched && !profilingForm.cnic.$pristine }">
            <label >CNIC: <i class="red" ng-hide="profilingForm.cnic.$error.minlength || profilingForm.cnic.$error.maxlength">*</i>
                <i ng-show="profilingForm.cnic.$error.minlength" class="red"> is too short.</i>
                <i ng-show="profilingForm.cnic.$error.maxlength" class="red"> is too long.</i>
            </label>
            <div class="input-group">
                <input type="text" class="form-control" name="cnic" ng-blur="searchApplicantCnicBlur()" placeholder="Enter CNIC Number" ng-model="applicant.cnic" ng-minlength="13" ng-maxlength="13" required >
                <span class="input-group-addon"><i class="fa fa-search" ng-click="searchApplicantCnic()"></i></span>
            </div>
        </div>
        <div class="form-group col-md-3" >
            <label for="cnic_insurance_date">CNIC Insurance<i class="red">*</i><small>(yer-mon-day)</small></label><!-- <div class="col-md-6"> -->
            <div class="input-group" >
                <input id="cnic_insurance_date" name="cnic_insurance_date" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="applicant.cnic_insurance_date" is-open="popup.opened1" datepicker-options="dateOptions" ng-required="true"  close-text="Close" data-inputmask="'mask':'9999-99-99'"  required>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open1()" ><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
             <!--  </div> -->
            <!-- <input id="d-o-b" type="text" class="form-control" name="d-o-b" placeholder="mm / dd / yyyy" ng-model="applicant.dob"> -->
        </div>
        <div class="form-group col-md-3" >
            <label for="cnic_expiry_date">CNIC Expiry<i class="red">*</i><small>(yer-mon-day)</small></label><!-- <div class="col-md-6"> -->
            <div class="input-group" >
                <input id="cnic_expiry_date" name="cnic_expiry_date" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="applicant.cnic_insurance_date" is-open="popup.opened1" datepicker-options="dateOptions" ng-required="true"  close-text="Close" data-inputmask="'mask':'9999-99-99'"  required>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open2()" ><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
             <!--  </div> -->
            <!-- <input id="d-o-b" type="text" class="form-control" name="d-o-b" placeholder="mm / dd / yyyy" ng-model="applicant.dob"> -->
        </div>
        <div class="form-group col-md-3" ng-class="{ 'has-error' : profilingForm.first_name.$invalid && !profilingForm.first_name.$pristine }">
            <label ng-hide="profilingForm.first_name.$invalid && profilingForm.first_name.$error.minlength" for="nameq">First Name: <i class="red">*</i></label>
            <label ng-show="profilingForm.first_name.$invalid && !profilingForm.first_name.$pristine && profilingForm.first_name.$error.minlength" class="red">First Name is required.</label>
            <input id="first_name" type="text" class="form-control" name="first_name" placeholder="Enter First name" ng-minlength="3" ng-model="applicant.first_name"  required>
           <!--  <p ng-show="profilingForm.first_name.$invalid && !profilingForm.first_name.$pristine && profilingForm.first_name.$error.minlength" class="help-block">You name is required.</p>  -->
        </div>
        <div class="form-group col-md-3" >
            <label for="name">Last Name: </label>
            <input id="last_name" type="text" class="form-control" name="last_name" placeholder="Enter Last name" ng-model="applicant.last_name" required>
        </div>
        <div class="form-group col-md-3" ng-class="{ 'has-error' : profilingForm.father_name.$invalid && !profilingForm.father_name.$pristine }">
            <label ng-hide="profilingForm.father_name.$invalid && profilingForm.father_name.$error.minlength" for="name">Father Name: <i class="red">*</i></label>
            <label ng-show="profilingForm.father_name.$invalid && !profilingForm.father_name.$pristine && profilingForm.father_name.$error.minlength" class="red">Father Name is required.</label>
            <input id="father_name" type="text" class="form-control" name="father_name" placeholder="Enter Father name" ng-minlength="3" ng-model="applicant.father_name" required>
           <!--  <p ng-show="profilingForm.father_name.$invalid && !profilingForm.father_name.$pristine && profilingForm.father_name.$error.minlength" class="help-block">You name is required.</p>  -->
        </div>
         <div  class="form-group col-md-3" ng-class="{ 'has-error' : profilingForm.gender.$invalid && !profilingForm.gender.$pristine }">
            <label ng-hide="profilingForm.gender.$invalid && !profilingForm.gender.$pristine" for="gender">
                Gender: <i class="red">*</i>
            </label>
            <label ng-show="profilingForm.gender.$invalid && !profilingForm.gender.$pristine" class="red">Select gender.</label>
            <select name="gender" class="form-control" ng-model="applicant.gender"  required>
                <option value="">Please select ....</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="dob">Date Of Birth: <i class="red">*</i><small>(year-month-day)</small></label><!-- <div class="col-md-6"> -->
            <div class="input-group" >
                <input id="dob" name="dob" type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="applicant.dob" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true"  close-text="Close" data-inputmask="'mask':'9999-99-99'" required>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open()" ><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
             <!--  </div> -->
            <!-- <input id="d-o-b" type="text" class="form-control" name="d-o-b" placeholder="mm / dd / yyyy" ng-model="applicant.dob"> -->
        </div>
        <div  class="form-group col-md-3" ng-class="{ 'has-error' : applicantForm.marital.$invalid && !applicantForm.marital.$pristine }">
            <label ng-hide="applicantForm.marital.$invalid && !applicantForm.marital.$pristine" for="marital">
                Marital Status: <i class="red">*</i>
            </label>
            <label ng-show="applicantForm.marital.$invalid && !applicantForm.marital.$pristine" class="red">Select Marital Status.</label>
            <select name="marital" class="form-control" ng-model="applicant.marital_status"  required>
                <option value="">Please select ....</option>
                <option value="Single">Single</option>
                <option value="Engaged">Engaged</option>
                <option value="Married">Married</option>
                <option value="Divorced">Divorced</option>
            </select>
        </div>
        <div  class="form-group col-md-3" ng-class="{ 'has-error' : profilingForm.contact.$invalid && !profilingForm.contact.$pristine }">
            <label ng-hide="profilingForm.contact.$error.minlength || profilingForm.contact.$error.maxlength" for="contact">Contact: <i class="red">*</i> </label>
            <label ng-show="profilingForm.contact.$error.minlength" class="red">Contact number is too short.</label>
            <label ng-show="profilingForm.contact.$error.maxlength" class="red">Contact number is too long.</label>
            <input id="contact" type="text" class="form-control" name="contact" placeholder="Enter contact number" ng-minlength="11" ng-maxlength="11" ng-model="applicant.contact"  required>
        </div>

        <div class="form-group col-md-3" ng-class="{ 'has-error' : profilingForm.language_id.$invalid && !profilingForm.language_id.$pristine }">
            <label ng-hide="profilingForm.language_id.$invalid && !profilingForm.language_id.$pristine" for="language">Preferred Language: <i class="red">*</i></label>
            <label ng-show="profilingForm.language_id.$invalid && !profilingForm.language_id.$pristine" class="red">Select a Language</label>
            <select id="language_id" name="language_id" class="form-control" ng-model="applicant.language_id" convert-to-number required >
                <option value="">Please select ....</option>
                <option ng-repeat="optionq in listOfLangauges" value={{optionq.id}}>{{optionq.name}}</option>
            </select>
        </div>
        <div  class="form-group col-md-3" >
            <!-- ng-class="{ 'has-error' : profilingForm.eaddress.$invalid && !profilingForm.eaddress.$pristine }"<label ng-hide="profilingForm.eaddress.$invalid && !profilingForm.eaddress.$pristine" for="eaddress">Email: <i class="red">*</i></label>
            <label ng-show="profilingForm.eaddress.$invalid && !profilingForm.eaddress.$pristine" class="red"> Invalid eaddress</label>required -->
            <label for="eaddress">Email:</label>
            <input id="eaddress" type="eaddress" class="form-control" name="eaddress" placeholder="Enter eaddress" ng-model="applicant.eaddress"  >
        </div>
         <div class="form-group col-md-3" ng-class="{ 'has-error' : profilingForm.religion_id.$invalid && !profilingForm.religion_id.$pristine }">
            <label ng-hide="profilingForm.religion_id.$invalid && !profilingForm.religion_id.$pristine" for="language">Religion: <i class="red">*</i></label>
            <label ng-show="profilingForm.religion_id.$invalid && !profilingForm.religion_id.$pristine" class="red">Select a Religion</label>
            <select id="language_id" name="religion_id" class="form-control" ng-model="applicant.religion_id" convert-to-number required >
                <option value="">Please select ....</option>
                <option ng-repeat="optionq in listOfReligions" value={{optionq.id}}>{{optionq.name}}</option>
            </select>
        </div>
         <div class="form-group col-md-3" ng-class="{ 'has-error' : profilingForm.sect_id.$invalid && !profilingForm.sect_id.$pristine }">
            <label ng-hide="profilingForm.sect_id.$invalid && !profilingForm.sect_id.$pristine" for="language">Sect: <i class="red">*</i></label>
            <label ng-show="profilingForm.sect_id.$invalid && !profilingForm.sect_id.$pristine" class="red">Select a Language</label>
            <select id="sect_id" name="sect_id" class="form-control" ng-model="applicant.sect_id" convert-to-number required >
                <option value="">Please select ....</option>
                <option ng-repeat="optionq in listOfSects" value={{optionq.id}}>{{optionq.name}}</option>
            </select>
        </div>


                 <div  class="form-group col-md-3" ng-class="{ 'has-error' : profilingForm.department_id.$invalid && profilingForm.department_id.$touched }">
                    <label for="department_id">Department: <i class="red">*</i></label>
                    <select name="department_id" class="form-control" ng-model="applicant.department_id" convert-to-number ng-disabled="existing_employee_department" required>
                        <option value=''>Please select ....</option>
                        <option ng-repeat="option in listOfDepartments" value={{option.id}}>{{option.name}}</option>
                    </select>
                </div>
                <div  class="form-group col-md-3" ng-class="{ 'has-error' : profilingForm.designation_id.$invalid && profilingForm.designation_id.$touched }">
                    <label for="designation_id">Designation: <i class="red">*</i></label>
                    <select name="designation_id" class="form-control" ng-model="applicant.designation_id" convert-to-number ng-disabled="existing_employee_designation" required>
                        <option value=''>Please select ....</option>
                        <option ng-repeat="option in listOfDesignations" value={{option.id}}>{{option.name}}</option>
                    </select>
                </div>
                <div  class="form-group col-md-3" ng-class="{ 'has-error' : profilingForm.project_id.$invalid && profilingForm.project_id.$touched }">
                    <label for="project_id">Projects: <i class="red">*</i></label>
                    <select name="project_id" class="form-control" ng-model="applicant.project_id" convert-to-number ng-disabled="existing_employee_project" required>
                        <option value=''>Please select ....</option>
                        <option ng-repeat="option in listOfProject" value={{option.id}}>{{option.name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3" ng-class="{ 'has-error' : profilingForm.batch_no.$invalid && profilingForm.batch_no.$touched }">
                    <label ng-hide="profilingForm.batch_no.$invalid && !profilingForm.batch_no.$pristine" for="address">Batch #: <i class="red">*</i></label>
                    <label ng-show="profilingForm.batch_no.$invalid && !profilingForm.batch_no.$pristine" class="red">Enter batch #</label>
                    <input id="batch_no" type="text" class="form-control" name="batch_no" placeholder="Enter Batch #" ng-model="applicant.batch_no" required>
                </div>
                <div class="form-group col-md-3">
                    <label for="state_id">Status: <i class="red">*</i></label>
                    <select name="state" ng-change="selectAction()"  class="form-control" placeholder="Select action..." ng-model="applicant.sub_state_id" ng-disabled="!hired" required>
                        <option ng-repeat="option in listOfStatus" value="{{option.id}}">{{option.name}}</option>
                    </select>
                </div>
                <!--  div class="form-group col-md-6" ng-hide="rSelect">
                    <select name="sub_state" class="form-control" placeholder="Select sub action..." ng-model="applicant.sub_state" >
                        <option ng-repeat="option in listOfRejectionReason" value="{{option.id}}">{{option.name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-6" ng-hide="rReject">
                    <select name="sub_state" class="form-control" placeholder="Select sub action..." ng-model="applicant.sub_state" >
                        <option ng-repeat="option in listOfShortlistedFor" value="{{option.id}}">{{option.name}}</option>
                    </select>
                </div> -->

        <div class="clearfix border-wrap " >
            <!-- <div class="col-md-12 text-center" ng-show="message"><h4> {{creator}}.</h4></div> -->
            <div class="col-md-12" >
                <uib-tabset active="active"  justified="true">
                    <uib-tab index="0" heading="Assessment">
                        <uib-tab-heading><i class="fa fa-sticky-note"></i> Address </uib-tab-heading>
                        <h3 class="m-top-30"></h3>
                        <div class="form-group col-md-6" >
                            <div class="form-group col-md-12" ng-class="{ 'has-error' : profilingForm.current_address.$invalid && profilingForm.current_address.$touched }">
                                <label ng-hide="profilingForm.current_address.$invalid && !profilingForm.current_address.$pristine" for="address">Current Address: <i class="red">*</i></label>
                                <label ng-show="profilingForm.current_address.$invalid && !profilingForm.current_address.$pristine" class="red">Enter current address</label>
                                <input id="address" type="text" class="form-control" name="address" placeholder="Enter Address" ng-model="applicant.current_address" required>
                            </div>
                            <div class="form-group col-md-6" ng-class="{ 'has-error' : profilingForm.current_city_id.$invalid && profilingForm.current_city_id.$touched }">
                                <label ng-hide="profilingForm.current_city_id.$invalid && !profilingForm.current_city_id.$pristine" for="city">Current City: <i class="red">*</i></label>
                                <label ng-show="profilingForm.current_city_id.$invalid && !profilingForm.current_city_id.$pristine" class="red">Select current city</label>
                                <select id="city_id" name="city_id" class="form-control" ng-model="applicant.current_city_id" convert-to-number required>
                                    <option value="">Please select ....</option>
                                    <option ng-repeat="option in listOfCities" value={{option.id}}>{{option.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6" ng-class="{ 'has-error' : profilingForm.current_country_id.$invalid && profilingForm.current_country_id.$touched }">
                                <label ng-hide="profilingForm.current_country_id.$invalid && !profilingForm.current_country_id.$pristine" for="country">Country: <i class="red">*</i></label>
                                <label ng-show="profilingForm.current_country_id.$invalid && !profilingForm.current_country_id.$pristine" class="red">Select current country</label>
                                <select id="country_id" name="country_id" class="form-control" ng-model="applicant.current_country_id" convert-to-number required>
                                    <option value="">Please select ....</option>
                                    <option ng-repeat="option in listOfCities" value={{option.id}}>{{option.name}}</option>
                                </select>
                            </div>

                        </div>
                        <div class="form-group col-md-6" >
                            <div class="form-group col-md-12" ng-class="{ 'has-error' : profilingForm.address.$invalid && profilingForm.address.$touched }">
                                <label ng-hide="profilingForm.address.$invalid && !profilingForm.address.$pristine" for="address">Permanent Address: <i class="red">*</i></label>
                                <label ng-show="profilingForm.address.$invalid && !profilingForm.address.$pristine" class="red">Enter permanent address</label>
                                <input id="address" type="text" class="form-control" name="address" placeholder="Enter Address" ng-model="applicant.address" required>
                            </div>
                            <div class="form-group col-md-6" ng-class="{ 'has-error' : profilingForm.city_id.$invalid && profilingForm.city_id.$touched }">
                                <label ng-hide="profilingForm.city_id.$invalid && !profilingForm.city_id.$pristine" for="city">Permanent City: <i class="red">*</i></label>
                                <label ng-show="profilingForm.city_id.$invalid && !profilingForm.city_id.$pristine" class="red">Select a city</label>
                                <select id="city_id" name="city_id" class="form-control" ng-model="applicant.city_id" convert-to-number required>
                                    <option value="">Please select ....</option>
                                    <option ng-repeat="option in listOfCities" value={{option.id}}>{{option.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6" ng-class="{ 'has-error' : profilingForm.country_id.$invalid && profilingForm.country_id.$touched }">
                                <label ng-hide="profilingForm.country_id.$invalid && !profilingForm.country_id.$pristine" for="country">Permanent Country: <i class="red">*</i></label>
                                <label ng-show="profilingForm.country_id.$invalid && !profilingForm.country_id.$pristine" class="red">Select a country</label>
                                <select id="country_id" name="country_id" class="form-control" ng-model="applicant.country_id" convert-to-number required>
                                    <option value="">Please select ....</option>
                                    <option ng-repeat="option in listOfCities" value={{option.id}}>{{option.name}}</option>
                                </select>
                            </div>

                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Qualification">
                        <uib-tab-heading><i class="fa fa-graduation-cap"></i> Qualification </uib-tab-heading>
                        <h4 class="m-top-30"><!-- Qualification --> </h4>
                        <div class="form-group col-md-3 p-left-0">
                            <label for="designation"> Degree</label>
                        </div>
                        <div class="form-group col-md-3 p-left-0">
                            <label for="designation"> Institute </label>
                        </div>
                        <div class="form-group col-md-3 p-left-0">
                            <label for="designation"> Majors </label>
                        </div>
                        <div class="form-group col-md-2 p-left-0">
                            <label for="designation"> Year</label>
                        </div>
                        <div class="form-group col-md-1 p-left-0">
                            <label for="action" class="d-block"><button class="btn btn-info btn-sm"  ng-click="addEducation()"><i class="fa fa-plus"></i> </button></label>
                        </div>
                        <span ng-repeat="(key, value) in applicant.applicant_educations">
                            <div class="form-group col-md-3 p-left-0">
                                <ui-select ng-model="value.education_id" >
                                    <ui-select-match>
                                        <span ng-bind="$select.selected.name"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.id as item in (listOfEducations | filter: $select.search) track by item.id">
                                        <span ng-bind="item.name"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group col-md-3 p-left-0">
                                <ui-select ng-model="value.others"  on-select="onSelectCallback($item, $model)">
                                    <ui-select-match>
                                        <span>{{$select.selected.name || $select.search}}</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in (listOfInstitutes | filter: $select.search) track by item.id" refresh="refreshResults($select)" refresh-delay="0">
                                        <span ng-bind="item.name"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group col-md-3 p-left-0">
                                <ui-select ng-model="value.major_id" ng-disabled="value.status">
                                    <ui-select-match>
                                        <span ng-bind="$select.selected.name"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.id as item in (listOfMajors | filter: $select.search) track by item.id">
                                        <span ng-bind="item.name"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group col-md-2 p-left-0">
                                <select class="form-control" ng-model="value.year" convert-to-number>
                                    <option ng-repeat="option in years" value={{option.id}}>{{option.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-1 p-left-0">
                                <button class="btn btn-danger btn-sm" ng-click="removeEducation(key)"><i class="fa fa-trash-o"></i></button>
                            </div>
                        </span>
                    </uib-tab>
                    <uib-tab index="2" heading="Personal Experience">
                        <uib-tab-heading><i class="fa fa-star-o"></i> Personal Experience </uib-tab-heading>

                        <h4 class="m-top-30"><!-- Qualification --> </h4>

                        <div class="form-group col-md-2 p-left-0">
                            <label for="c-name">Company Name</label>
                        </div>
                        <div class="form-group col-md-2 p-left-0">
                            <label for="designation">Designation</label>
                        </div>
                        <div class="form-group col-md-2 p-left-0">
                            <label for="designation">From Date</label>
                        </div>
                        <div class="form-group col-md-2 p-left-0">
                            <label for="designation">To Date</label>
                        </div>
                        <div class="form-group col-md-3 p-left-0">
                            <label for="description">Job Description</label>
                        </div>
                        <div class="form-group col-md-1 p-left-0">
                            <label for="action"><button class="btn btn-info btn-sm"  ng-click="addExperience()"><i class="fa fa-plus"></i></button></label>
                        </div>
                        <span ng-repeat="(key, value) in applicant.applicant_experiences">
                            <div class="form-group col-md-2 p-left-0">
                                <input type="text" class="form-control" placeholder="Company Name" ng-model="value.company_name">
                            </div>
                            <div class="form-group col-md-2 p-left-0">
                                <input type="text" class="form-control" placeholder="Designation" ng-model="value.designation">
                            </div>
                            <div class="form-group col-md-2 p-left-0">
                                <div class="input-group" >
                                    <input  type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="value.started" is-open="popup.openedStart[key].opened" datepicker-options="dateOptions"  close-text="Close" data-inputmask="'mask':'9999-99-99'" >
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openStart(key)" ><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                                <!-- <input type="text" class="form-control" name="start-time" placeholder="From Date" ng-model="value.started"> -->
                            </div>
                            <div class="form-group col-md-2 p-left-0">
                                <div class="input-group" >
                                    <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="value.ended" is-open="popup.openedEnd[key].opened" datepicker-options="dateOptions" close-text="Close" data-inputmask="'mask':'9999-99-99'" >
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openEnd(key)" ><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                                <!-- <input type="text" class="form-control" name="end-time" placeholder="To Date" ng-model="value.ended"> -->
                            </div>
                            <div class="form-group col-md-3 p-left-0">
                                <input type="text" class="form-control" placeholder="Job Description" ng-model="value.job_description">
                            </div>
                            <div class="form-group col-md-1 p-left-0">
                                <button class="btn btn-danger btn-sm" ng-click="removeExperience(key)"><i class="fa fa-trash-o"></i></button>
                            </div>
                        </span>
                        <!-- <div class="form-group col-md-12 text-center">
                            <button class="btn btn-info"><i class="fa fa-save"></i> Save</button>
                        </div> -->
                    </uib-tab>

                </uib-tabset>
            </div>
        </div>
        <div class="border-wrap clearfix m-top-30">
            <!--  ng-disabled="profilingForm.$invalid" -->
            <div class="col-md-12 text-center">
                <button class="btn btn-info pull-left" ng-disabled="profilingForm.$invalid"  ng-click="saveEmployeeInformation('Forword')"><i class="fa fa-check" ></i> Accept  </button>
                <button type="reset" ng-click="cancelForm()" class="btn btn-danger pull-right"><i class="fa fa-times"></i> Cancel</button>
            </div>
        </div>
    </form>
</div>
