<div class="col-sm-12" ><!--  ng-controller="RecruitmentReportController" -->
    <div class="clearfix">
        <div class="col-md-12 p-left-0"><h3>Report - <b>Assesments</b></h3></div>
    </div>
    <div class="border-wrap clearfix">
    <!-- {#        <div class="col-md-12"><h4>Search Applicant</h4></div> #} -->
        <form novalidate>
            <input type="hidden" ng-model="applicantInformation.action" ng-value="getRecruitmentReport.json">
            <!--
            <div class="form-group col-md-3">
                <select placeholder="HR Recruiter" class="form-control" ng-model="applicantInformation.officer" convert-to-number ng-disabled="existing_employee" >
                    <option value="">HR Recruiter</option>
                    <option ng-repeat="option in listOfOfficers" value={ {option.id}}>{ {option.name}}</option>
                </select>
            </div>

            <div class="form-group col-md-3">
                <select class="form-control" ng-model="applicantInformation.project_id" convert-to-number>
                    <option value="">Projects</option>
                    <option ng-repeat="option in listOfProjects" value={ {option.id}}> { { option.name}}</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <select class="form-control" ng-change="selectAction()" ng-model="applicantInformation.sub_state_id" convert-to-number>
                    <option value="">All Status</option>
                    <option ng-repeat="option in listOfAllStates" value={ {option.id}}>{ { option.name}}</option>
                </select>
            </div>

            <div class="form-group col-md-3">
                <select class="form-control" ng-model="applicantInformation.approved_by" convert-to-number ng-disabled="existing_employee">
                    <option value="">Approved by any</option>
                    <option ng-repeat="option in listOfManagements" value= {  { option.id}}> { { option.name}}</option>
                </select>
            </div>
           <div class="form-group col-md-3">
                <select class="form-control">
                    <option value="not_called">Not Called</option>
                    <option value="called">Called</option>
                </select>
            </div> -->
            <div class="form-group col-md-3">
                <div class="input-group" >
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="applicantInformation.from" is-open="popup.from" datepicker-options="dateOptions" close-text="Close" ng-disabled="existing_employee" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="from()" ng-disabled="existing_employee">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="input-group" >
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="applicantInformation.to" is-open="popup.to" datepicker-options="dateOptions" close-text="Close" ng-disabled="existing_employee" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="to()" ng-disabled="existing_employee">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-3 text-center">
                <button class="btn btn-info" ng-click="searchApplicant()">Search <i class="fa fa-search"></i></button>
                <button class="btn btn-info" ng-click="downloadApplicant()">Download <i class="fa fa-download"></i></button>
            </div>
        </form>
    </div>
    <div class="clearfix">
        <div class="col-md-12 p-left-0"><h3>Result</h3></div>
    </div>
    <div class="border-wrap">
        <div class="table-responsive text-center" style="overflow: auto">
            <table class="table table-bordered table-condensed table-striped nomargin">
                <thead style="background-color:#00afff">
                    <tr>
                        <td rowspan="2">ID</td>
                        <td rowspan="2">NAME</td>
                        <td rowspan="2">PROJECT</td>
                        <td rowspan="2">JOINING DATE</td>
                        <td colspan="7">Hiring Score</td>
                        <td colspan="5">Training Score</td>
                        <td colspan="5">Operations Score</td>
                      <!-- td>SCHEDULED ON</td -->
                    </tr>
                    <tr>
                        <td >ACENT</td>
                        <td >Basic</td>
                        <td >DEMEANOR</td>
                        <td >DRESS CODE</td>
                        <td >ETIQUETTE</td>
                        <td >FACIAL EXPRESSIONS</td>
                        <td >TOTALS</td>

                        <td >COMMUNICATION</td>
                        <td >CONDUCT</td>
                        <td >DEMEANOR</td>
                        <td >DRESS CODE</td>
                        <td >TOTALS</td>

                        <td >COMMUNICATION</td>
                        <td >CONDUCT</td>
                        <td >DEMEANOR</td>
                        <td >DRESS CODE</td>
                        <td >TOTALS</td>
                      <!-- td>SCHEDULED ON</td -->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, dta) in showTableData">
                        <td>{{dta.id}}</td>
                        <td>{{dta.full_name}}</td>
                        <td>{{dta.project__name}}</td>
                        <td>{{dta.joining_date}}</td>

                        <td >{{dta.recruiter.Acent.percentage}}%</td>
                        <td >{{dta.recruiter.Basic.percentage}}%</td>
                        <td >{{dta.recruiter.Demeanor.percentage}}%</td>
                        <td >{{dta.recruiter.Dress_Code.percentage}}%</td>
                        <td >{{dta.recruiter.Etiquette.percentage}}%</td>
                        <td >{{dta.recruiter.Facial_Expressions.percentage}}%</td>
                        <td >{{dta.recruiter.total.percentage}}%</td>

                        <td >{{dta.trainer.Communication.percentage}}%</td>
                        <td >{{dta.trainer.Conduct.percentage}}%</td>
                        <td >{{dta.trainer.Demeanor.percentage}}%</td>
                        <td >{{dta.trainer.Dress_Code.percentage}}%</td>
                        <td >{{dta.trainer.total.percentage}}%</td>

                        <td >{{dta.operations.Communication.percentage}}%</td>
                        <td >{{dta.operations.Conduct.percentage}}%</td>
                        <td >{{dta.operations.Demeanor.percentage}}%</td>
                        <td >{{dta.operations.Dress_Code.percentage}}%</td>
                        <td >{{dta.operations.total.percentage}}%</td>


                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<div class="modal fade" id="scheduleModal" tabindex="-1" role="dialog" aria-labelledby="scheduleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 id="customerAddModalLabel" class="modal-title">{{modelName}}</h4>
			</div>
			<div class="modal-body">
			   <form class="form-horizontal">
			    <div class="form-group">
					<label class="col-lg-4 control-label" for="focusedInput">Schedule With</label>
					<div class="col-lg-8">
                        <select class="form-control" ng-model="scheduler.schedule_with"  ng-options="manage.id as manage.name for manage in listOfManagements | orderBy:manage.name" ng-selected="selectedReporting" ></select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-4 control-label" for="focusedInput">Schedule On</label>
					<div class="col-lg-8">
                        <div class="input-group" >
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="scheduler.schedule_on" is-open="popup.schedule" datepicker-options="dateOptionsSchedule" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="schedule()" >
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>

					</div>
				</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" ng-click="saveSchedule(scheduler)">Save changes</button>
			</div>
		</div>
	</div>
</div><!-- /.modal -->