<div class="clearfix"><div class="col-md-12 p-left-0"><h3><b>Basic</b> - Options <a class="pull-right" href="javascript:void(0);" ng-click="openBasicOptionModel()">+ {{ varBasicOptionName | toUpperCase}}</a></h3></div></div>
<div class="clearfix border-wrap ">
    <uib-tabset active="activeTabIndex" vertical="true" type="pills">
        <uib-tab ng-repeat="(key, value) in domined" index="key" heading="key" select="loadBasicOptionsList(key)">
            <uib-tab-heading><i class="glyphicon glyphicon-th"></i> {{ key | toUpperCase }}</uib-tab-heading>
            <div class="table-responsive">
                <table width="100%" datatable class="table table-striped">
                    <thead>
                        <tr>
                            <td align="center" width="10%">ID</td>
                            <td align="left" width="80%">NAME</td>
                            <td>CODE</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(k, v) in value">
                            <td>{{ k+1 }} </td>
                            <td>{{ v.name }}</td>
                            <td>{{ v.code }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </uib-tab>
        <!-- <ng-include src="template.recruitment_form"></ng-include> -->
    </uib-tabset>
</div>
<div class="modal fade" id="basicOptionsModal" tabindex="-1" role="dialog" aria-labelledby="basicOptionModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 id="customerAddModalLabel" class="modal-title">Add {{varBasicOptionName}}</h4>
			</div>
			<div class="modal-body">
			    <form name="basicOptionsForm" novalidate class="form-horizontal">
                    <div class="form-group col-md-12" ng-class="{ 'has-error' : basicOptionsForm.name.$invalid && basicOptionsForm.name.$touched && !basicOptionsForm.name.$pristine }">
                        <label >NAME: <i class="red" ng-hide="basicOptionsForm.name.$error.minlength || basicOptionsForm.name.$error.maxlength">*</i>
                            <i ng-show="basicOptionsForm.name.$error.minlength" class="red"> is too short.</i>
                            <i ng-show="basicOptionsForm.name.$error.maxlength" class="red"> is too long.</i>
                        </label>
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control" name="name" placeholder="Enter Name" ng-model="domain.name" ng-minlength="3" ng-maxlength="50" required >
                        </div>
                    </div>
                    <div class="form-group col-md-12" ng-class="{ 'has-error' : basicOptionsForm.code.$invalid && basicOptionsForm.code.$touched && !basicOptionsForm.code.$pristine }">
                        <label >CODE: <i class="red" ng-hide="basicOptionsForm.code.$error.minlength || basicOptionsForm.code.$error.maxlength">*</i>
                            <i ng-show="basicOptionsForm.code.$error.minlength" class="red"> is too short.</i>
                            <i ng-show="basicOptionsForm.code.$error.maxlength" class="red"> is too long.</i>
                        </label>
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control" name="code" placeholder="Enter Code" ng-model="domain.code" ng-minlength="3" ng-maxlength="10" required >
                        </div>
                    </div>

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" ng-click="saveBasicOption(domain)">Save changes</button>
			</div>
		</div>
	</div>
</div><!-- /.modal -->

