{% load static %}
<nav class="navbar">
    <div class="container-fluid nav-bs">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="javascript:;"><img src="{% static "images/logo.png" %}" alt="" /></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
				<li id="credintials">
					<a href="javascript:;" role="button" class="dropdown-toggle" data-toggle="dropdown"> 
						<i class="glyphicon glyphicon-user"></i> Applicant 
					</a>
				</li>
			</ul>
        </div>
    </div>
</nav>