<div class="border-wrap">
    <div class="table-responsive text-center">
        <table class="table table-striped nomargin">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>CNIC</td>
                    <td>NAME</td>
                    <td ng-if="typing=='officer'">CONTACT</td>
                    <td>GENDER</td>
                    <td>BIRTH DATE</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, stal) in showTodayApplicantList">
                    <td>
                        <span ng-if="typing=='officer'">{{stal.id}}</span>
                        <span ng-if="typing!='officer'">{{stal.applicant_id}}</span>
                    </td>
                    <td>
                        <a ng-if="typing=='officer'" href="javascript:void(0)" ng-click="searchApplicantCnicState(stal.cnic); active = 0.0"> {{stal.cnic}} </a>
                        <a ng-if="typing!='officer'" href="javascript:void(0)" ng-click="searchApplicantCnicState(stal.applicant_id__cnic); active = 0.0"> {{stal.applicant_id__cnic}} </a>
                    </td>
                    <td>
                        <span ng-if="typing=='officer'">{{stal.first_name}} {{stal.last_name}}</span>
                        <span ng-if="typing!='officer'">{{stal.applicant_id__first_name}} {{stal.applicant_id__last_name}}</span>
                    </td>
                    <td ng-if="typing=='officer'">{{stal.contact}}</td>
                    <td>
                        <span ng-if="typing=='officer'">{{stal.gender}}</span>
                        <span ng-if="typing!='officer'">{{stal.applicant_id__gender}}</span>
                    </td>
                    <td>
                        <span ng-if="typing=='officer'">{{stal.dob}}</span>
                        <span ng-if="typing!='officer'">{{stal.applicant_id__dob}}</span>
                    </td>
                    <!--  <td>{{dta}}</td>
                    <td>{{dta}}</td> -->
                    <!--  <td>CALL</td>
                    <td>PROFILE</td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>
