<div class="clearfix"><div class="col-md-12 p-left-0"><h3>Form - <b>Recruitment</b></h3></div></div>
<form name="recruitmentForm" novalidate>
    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)" dismiss-on-timeout={{alert.time}} >{{alert.message}}</div>
    <div class="form-group col-md-3" ng-class="{ 'has-error' : recruitmentForm.cnic.$invalid && recruitmentForm.cnic.$touched && !recruitmentForm.cnic.$pristine }">
        <label >CNIC: <i class="red" ng-hide="recruitmentForm.cnic.$error.minlength || recruitmentForm.cnic.$error.maxlength">*</i>
            <i ng-show="recruitmentForm.cnic.$error.minlength" class="red"> is too short.</i>
            <i ng-show="recruitmentForm.cnic.$error.maxlength" class="red"> is too long.</i>
        </label>
        <div class="input-group">
            <input type="text" class="form-control" name="cnic" ng-blur="searchApplicantCnicBlur()" placeholder="Enter CNIC Number" ng-model="applicant.cnic" ng-minlength="13" ng-maxlength="13" required >
            <span class="input-group-addon"><i class="fa fa-search" ng-click="searchApplicantCnic()"></i></span>
        </div>
    </div>
    <div class="form-group col-md-3" ng-if="typing=='officer'">
        <label for="cnic_insurance_date">CNIC Insurance<i class="red">*</i><small>(yer-mon-day)</small></label><!-- <div class="col-md-6"> -->
        <div class="input-group" >
            <input id="cnic_insurance_date" name="cnic_insurance_date" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="applicant.cnic_insurance_date" is-open="popup.opened1" datepicker-options="dateOptions" ng-required="true"  close-text="Close" data-inputmask="'mask':'9999-99-99'"  required>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
         <!--  </div> ng-disabled="existing_employee"-->
        <!-- <input id="d-o-b" type="text" class="form-control" name="d-o-b" placeholder="mm / dd / yyyy" ng-model="applicant.dob"> -->
    </div>
    <div class="form-group col-md-3" ng-class="{ 'has-error' : recruitmentForm.first_name.$invalid && !recruitmentForm.first_name.$pristine }">
        <label ng-hide="recruitmentForm.first_name.$invalid && recruitmentForm.first_name.$error.minlength" for="nameq">First Name: <i class="red">*</i></label>
        <label ng-show="recruitmentForm.first_name.$invalid && !recruitmentForm.first_name.$pristine && recruitmentForm.first_name.$error.minlength" class="red">First Name is required.</label>
        <input id="first_name" type="text" class="form-control" name="first_name" placeholder="Enter First name" ng-minlength="3" ng-model="applicant.first_name" ng-disabled="existing_employee" required>
       <!--  <p ng-show="recruitmentForm.first_name.$invalid && !recruitmentForm.first_name.$pristine && recruitmentForm.first_name.$error.minlength" class="help-block">You name is required.</p>  -->
    </div>
    <div class="form-group col-md-3">
        <label for="name">Last Name:</label>
        <input id="last_name" type="text" class="form-control" name="last_name" placeholder="Last name" ng-model="applicant.last_name" >
    </div>
    <div class="form-group col-md-3" ng-class="{ 'has-error' : recruitmentForm.father_name.$invalid && !recruitmentForm.father_name.$pristine }">
        <label ng-hide="recruitmentForm.father_name.$invalid && recruitmentForm.father_name.$error.minlength" for="name">Father's/Husband's Name: <i class="red">*</i></label>
        <label ng-show="recruitmentForm.father_name.$invalid && !recruitmentForm.father_name.$pristine && recruitmentForm.father_name.$error.minlength" class="red">Father's/Husband's Name is required.</label>
        <input id="father_name" type="text" class="form-control" name="father_name" placeholder="Enter Father name" ng-minlength="3" ng-model="applicant.father_name" ng-disabled="existing_employee" required>
       <!--  <p ng-show="recruitmentForm.father_name.$invalid && !recruitmentForm.father_name.$pristine && recruitmentForm.father_name.$error.minlength" class="help-block">You name is required.</p>  -->
    </div>
     <div ng-if="typing=='officer'" class="form-group col-md-3" ng-class="{ 'has-error' : recruitmentForm.gender.$invalid && !recruitmentForm.gender.$pristine }">
        <label ng-hide="recruitmentForm.gender.$invalid && !recruitmentForm.gender.$pristine" for="gender">
            Gender: <i class="red">*</i>
        </label>
        <label ng-show="recruitmentForm.gender.$invalid && !recruitmentForm.gender.$pristine" class="red">Select gender.</label>
        <select name="gender" class="form-control" ng-model="applicant.gender" ng-disabled="existing_employee" required>
            <option value="">Please select ....</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>
    <div class="form-group col-md-3">
        <label for="dob">Date Of Birth: <i class="red">*</i><small>(year-month-day)</small></label><!-- <div class="col-md-6"> -->
        <div class="input-group" >
            <input id="dob" name="dob" type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="applicant.dob" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" ng-disabled="existing_employee" close-text="Close" data-inputmask="'mask':'9999-99-99'" required>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open()" ng-disabled="existing_employee"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
         <!--  </div> -->
        <!-- <input id="d-o-b" type="text" class="form-control" name="d-o-b" placeholder="mm / dd / yyyy" ng-model="applicant.dob"> -->
    </div>
    <div ng-if="typing=='officer'" class="form-group col-md-3" ng-class="{ 'has-error' : applicantForm.marital.$invalid && !applicantForm.marital.$pristine }">
        <label ng-hide="applicantForm.marital.$invalid && !applicantForm.marital.$pristine" for="marital">
            Marital Status: <i class="red">*</i>
        </label>
        <label ng-show="applicantForm.marital.$invalid && !applicantForm.marital.$pristine" class="red">Select Marital Status.</label>
        <select name="marital" class="form-control" ng-model="applicant.marital_status" ng-disabled="existing_employee" required>
            <option value="">Please select ....</option>
            <option value="Single">Single</option>
            <option value="Engaged">Engaged</option>
            <option value="Married">Married</option>
            <option value="Divorced">Divorced</option>
        </select>
    </div>
    <div ng-if="typing=='officer'" class="form-group col-md-3" ng-class="{ 'has-error' : recruitmentForm.contact.$invalid && !recruitmentForm.contact.$pristine }">
        <label ng-hide="recruitmentForm.contact.$error.minlength || recruitmentForm.contact.$error.maxlength" for="contact">Contact: <i class="red">*</i> </label>
        <label ng-show="recruitmentForm.contact.$error.minlength" class="red">Contact number is too short.</label>
        <label ng-show="recruitmentForm.contact.$error.maxlength" class="red">Contact number is too long.</label>
        <input id="contact" type="text" class="form-control" name="contact" placeholder="Enter contact number" ng-minlength="11" ng-maxlength="11" ng-model="applicant.contact" ng-disabled="existing_employee" required>
    </div>


    <div ng-if="typing=='officer'" class="form-group col-md-3" >
        <!-- ng-class="{ 'has-error' : recruitmentForm.eaddress.$invalid && !recruitmentForm.eaddress.$pristine }"<label ng-hide="recruitmentForm.eaddress.$invalid && !recruitmentForm.eaddress.$pristine" for="eaddress">Email: <i class="red">*</i></label>
        <label ng-show="recruitmentForm.eaddress.$invalid && !recruitmentForm.eaddress.$pristine" class="red"> Invalid eaddress</label>required -->
        <label for="eaddress">Email:</label>
        <input id="eaddress" type="eaddress" class="form-control" name="eaddress" placeholder="Enter eaddress" ng-model="applicant.eaddress" ng-disabled="existing_employee" >
    </div>
    <div class="form-group col-md-3" ng-class="{ 'has-error' : recruitmentForm.city_id.$invalid && recruitmentForm.city_id.$touched }">
        <label ng-hide="recruitmentForm.city_id.$invalid && !recruitmentForm.city_id.$pristine" for="city">City: <i class="red">*</i></label>
        <label ng-show="recruitmentForm.city_id.$invalid && !recruitmentForm.city_id.$pristine" class="red">Select a city</label>
        <select id="city_id" name="city_id" class="form-control" ng-model="applicant.city_id" convert-to-number ng-disabled="existing_employee"  required>
            <option value="">Please select ....</option>
            <option ng-repeat="option in listOfCities" value={{option.id}}>{{option.name}}</option>
        </select>
    </div>
    <div class="form-group col-md-3" ng-class="{ 'has-error' : recruitmentForm.address.$invalid && recruitmentForm.address.$touched }">
        <label ng-hide="recruitmentForm.address.$invalid && !recruitmentForm.address.$pristine" for="address">Address: <i class="red">*</i></label>
        <label ng-show="recruitmentForm.address.$invalid && !recruitmentForm.address.$pristine" class="red">Enter address</label>
        <input id="address" type="text" class="form-control" name="address" placeholder="Enter Address" ng-model="applicant.address" ng-disabled="existing_employee" required>
    </div>

    <div class="clearfix border-wrap " >
        <!-- <div class="col-md-12 text-center" ng-show="message"><h4> {{creator}}.</h4></div> -->
        <div class="col-md-12" >
            <uib-tabset active="active"  justified="true">
                <uib-tab index="0" heading="Employeement Record">
                    <uib-tab-heading><i class="fa fa-sticky-note"></i> Employeement Record </uib-tab-heading>
                    <h3 class="m-top-30"></h3>
                    <div ng-include src="template.recruitment_employee" class="view-animate"></div>
                </uib-tab>
                <uib-tab index="1" heading="Previous Comments">
                    <uib-tab-heading><i class="fa fa-sticky-note"></i> Previous Comments </uib-tab-heading>
                    <h3 class="m-top-30"></h3>
                    <div class="form-group col-md-12" ng-repeat="(key, value) in applicant.applicant_comments">
                        <label for="hr-coments">Comments By {{value.create.name}} on {{value.created}}</label>
                        <textarea name="{{key}}"  class="form-control" rows="4" ng-disabled="true">{{value.remarks}}</textarea>
                    </div>
                </uib-tab>
                <uib-tab index="2" ng-show="hired" heading="Qualification">
                    <uib-tab-heading><i class="fa fa-graduation-cap"></i> Qualification </uib-tab-heading>
                    <h4 class="m-top-30"><!-- Qualification --> </h4>
                    <div class="form-group col-md-3 p-left-0">
                        <label for="designation"> Degree</label>
                    </div>
                    <div class="form-group col-md-3 p-left-0">
                        <label for="designation"> Institute </label>
                    </div>
                    <div class="form-group col-md-3 p-left-0">
                        <label for="designation"> Majors </label>
                    </div>
                    <div class="form-group col-md-2 p-left-0">
                        <label for="designation"> Year</label>
                    </div>
                    <div class="form-group col-md-1 p-left-0">
                        <label for="action" class="d-block"><button class="btn btn-info btn-sm"  ng-click="addEducation()"><i class="fa fa-plus"></i> </button></label>
                    </div>
                    <span ng-repeat="(key, value) in applicant.applicant_educations">
                        <div class="form-group col-md-3 p-left-0">
                            <ui-select ng-model="value.education_id" >
                                <ui-select-match>
                                    <span ng-bind="$select.selected.name"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item.id as item in (listOfEducations | filter: $select.search) track by item.id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group col-md-3 p-left-0">
                            <ui-select ng-model="value.others"  on-select="onSelectCallback($item, $model)">
                                <ui-select-match>
                                    <span>{{$select.selected.name || $select.search}}</span>
                                </ui-select-match>
                                <ui-select-choices repeat="item in (listOfInstitutes | filter: $select.search) track by item.id" refresh="refreshResults($select)" refresh-delay="0">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group col-md-3 p-left-0">
                            <ui-select ng-model="value.major_id" ng-disabled="value.status">
                                <ui-select-match>
                                    <span ng-bind="$select.selected.name"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item.id as item in (listOfMajors | filter: $select.search) track by item.id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group col-md-2 p-left-0">
                            <select class="form-control" ng-model="value.year" convert-to-number>
                                <option ng-repeat="option in years" value={{option.id}}>{{option.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-1 p-left-0">
                            <button class="btn btn-danger btn-sm" ng-click="removeEducation(key)"><i class="fa fa-trash-o"></i></button>
                        </div>
                    </span>
                </uib-tab>
                <uib-tab index="3" ng-show="hired" heading="Personal Experience">
                    <uib-tab-heading><i class="fa fa-star-o"></i> Personal Experience </uib-tab-heading>

                    <h4 class="m-top-30"><!-- Qualification --> </h4>

                    <div class="form-group col-md-2 p-left-0">
                        <label for="c-name">Company Name</label>
                    </div>
                    <div class="form-group col-md-2 p-left-0">
                        <label for="designation">Designation</label>
                    </div>
                    <div class="form-group col-md-2 p-left-0">
                        <label for="designation">From Date</label>
                    </div>
                    <div class="form-group col-md-2 p-left-0">
                        <label for="designation">To Date</label>
                    </div>
                    <div class="form-group col-md-3 p-left-0">
                        <label for="description">Job Description</label>
                    </div>
                    <div class="form-group col-md-1 p-left-0">
                        <label for="action"><button class="btn btn-info btn-sm"  ng-click="addExperience()"><i class="fa fa-plus"></i></button></label>
                    </div>
                    <span ng-repeat="(key, value) in applicant.applicant_experiences">
                        <div class="form-group col-md-2 p-left-0">
                            <input type="text" class="form-control" placeholder="Company Name" ng-model="value.company_name">
                        </div>
                        <div class="form-group col-md-2 p-left-0">
                            <input type="text" class="form-control" placeholder="Designation" ng-model="value.designation">
                        </div>
                        <div class="form-group col-md-2 p-left-0">
                            <div class="input-group" >
                                <input  type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="value.started" is-open="popup.openedStart[key].opened" datepicker-options="dateOptions"  close-text="Close" data-inputmask="'mask':'9999-99-99'" >
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openStart(key)" ><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                            <!-- <input type="text" class="form-control" name="start-time" placeholder="From Date" ng-model="value.started"> -->
                        </div>
                        <div class="form-group col-md-2 p-left-0">
                            <div class="input-group" >
                                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="value.ended" is-open="popup.openedEnd[key].opened" datepicker-options="dateOptions" close-text="Close" data-inputmask="'mask':'9999-99-99'" >
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openEnd(key)" ><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                            <!-- <input type="text" class="form-control" name="end-time" placeholder="To Date" ng-model="value.ended"> -->
                        </div>
                        <div class="form-group col-md-3 p-left-0">
                            <input type="text" class="form-control" placeholder="Job Description" ng-model="value.job_description">
                        </div>
                        <div class="form-group col-md-1 p-left-0">
                            <button class="btn btn-danger btn-sm" ng-click="removeExperience(key)"><i class="fa fa-trash-o"></i></button>
                        </div>
                    </span>
                    <!-- <div class="form-group col-md-12 text-center">
                        <button class="btn btn-info"><i class="fa fa-save"></i> Save</button>
                    </div> -->
                </uib-tab>
                <uib-tab index="4" ng-show="hired" heading="Orientation">
                    <uib-tab-heading><i class="fa fa-child"></i> Orientation </uib-tab-heading>
                    <span  ng-repeat="(key, value) in applicant.applicant_orientations"><!-- ng-repeat-start="item in listOfOrintations"> ng-repeat-end -->
                        <h4 class="col-md-4 m-top-30">{{value.name}}
                            <!-- <div class="btn-group pull-right">
                                <label class="btn btn-info" ng-model="value.status" uib-btn-radio="true">Yes</label>
                                <label class="btn btn-info" ng-model="value.status" uib-btn-radio="false">No</label>
                            </div> -->
                        </h4>
                        <div class="border-wrap clearfix" >
                            <div class="col-md-12">
                                <button class="btn btn-default s-btn" ng-repeat="(key, value) in value.children" ng-class="['btn s-btn', { 'btn-success': value.group > 0, 'btn-danger ': value.group <= 0}]" ng-click="value.status=!value.status" ng-hide=value.status>{{value.name}}</button>
                            </div>
                        </div>
                        <div class="selecting-result m-top-30" >
                            <div class="well well-lg">

                                <button ng-repeat="(key, value) in value.children" ng-class="['btn s-btn', { 'btn-success': value.group > 0, 'btn-danger ': value.group <= 0}]" ng-click="value.status=!value.status" ng-hide=!value.status>{{value.name}}</button>
                            </div>
                        </div>
                    </span>
                <!--   <div class="form-group col-md-12 text-center">
                        <button class="btn btn-info"><i class="fa fa-save"></i> Save</button>
                    </div> -->
                </uib-tab>
                <!-- <uib-tab index="$index + 1" ng-repeat="tab in tabs" heading="{{tab.title}}" disable="tab.disabled">
                    {{tab.content}}
                </uib-tab>
                <uib-tab index="3" select="alertMe()">
                    <uib-tab-heading>
                        <i class="glyphicon glyphicon-bell"></i> Alert!
                    </uib-tab-heading>
                    I've got an HTML heading, and a select callback. Pretty cool!
                </uib-tab>-->
            </uib-tabset>
        </div>
    </div>
    <div class="border-wrap clearfix m-top-30">
        <div class="form-group col-md-12" >
            <textarea ng-disabled="!hired" name="comments" ng-trim="true" placeholder="Enter comments..." class="form-control" rows="4" ng-model="applicant.comments"></textarea>
        </div>
        <div class="clearfix col-md-12 row" ng-hide="message">
             <div ng-if="typing == 'officer'" class="form-group col-md-3" ng-class="{ 'has-error' : recruitmentForm.department_id.$invalid && recruitmentForm.department_id.$touched }">
                <label for="department_id">Department: <i class="red">*</i></label>
                <select name="department_id" class="form-control" ng-model="applicant.department_id" convert-to-number ng-disabled="existing_employee_department" required>
                    <option value=''>Please select ....</option>
                    <option ng-repeat="option in listOfDepartments" value={{option.id}}>{{option.name}}</option>
                </select>
            </div>
            <div ng-if="typing == 'officer'" class="form-group col-md-3" ng-class="{ 'has-error' : recruitmentForm.designation_id.$invalid && recruitmentForm.designation_id.$touched }">
                <label for="designation_id">Designation: <i class="red">*</i></label>
                <select name="designation_id" class="form-control" ng-model="applicant.designation_id" convert-to-number ng-disabled="existing_employee_designation" required>
                    <option value=''>Please select ....</option>
                    <option ng-repeat="option in listOfDesignations" value={{option.id}}>{{option.name}}</option>
                </select>
            </div>
            <div ng-if="typing == 'officer'" class="form-group col-md-3" ng-class="{ 'has-error' : recruitmentForm.project_id.$invalid && recruitmentForm.project_id.$touched }">
                <label for="project_id">Projects: <i class="red">*</i></label>
                <select name="project_id" class="form-control" ng-model="applicant.project_id" convert-to-number ng-disabled="existing_employee_project" required>
                    <option value=''>Please select ....</option>
                    <option ng-repeat="option in listOfProject" value={{option.id}}>{{option.name}}</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="state_id">Status: <i class="red">*</i></label>
                <select name="state" ng-change="selectAction()"  class="form-control" placeholder="Select action..." ng-model="applicant.sub_state_id" ng-disabled="!hired" required>
                    <option ng-repeat="option in listOfStatus" value="{{option.id}}">{{option.name}}</option>
                </select>
            </div>
            <!--  div class="form-group col-md-6" ng-hide="rSelect">
                <select name="sub_state" class="form-control" placeholder="Select sub action..." ng-model="applicant.sub_state" >
                    <option ng-repeat="option in listOfRejectionReason" value=" { { option.id } } " >{ { o p tion.name}}</option>
                </select>
            </div>
            <div class="form-group col-md-6" ng-hide="rReject">
                <select name="sub_state" class="form-control" placeholder="Select sub action..." ng-model="applicant.sub_state" >
                    <option ng-repeat="option in listOfShortlistedFor" value=" { { o p tion.id}}"> { { o p t io n.name}}</option>
                </select>
            </div> -->
        </div>
        <!--  ng-disabled="recruitmentForm.$invalid" -->
        <div class="col-md-12 text-center">
            <button class="btn btn-info pull-left" ng-disabled="recruitmentForm.$invalid"  ng-click="saveEmployeeInformation('Forword')"><i class="fa fa-check" ></i> Accept  </button>
            <button type="reset" ng-click="cancelForm()" class="btn btn-danger pull-right"><i class="fa fa-times"></i> Cancel</button>
        </div>
    </div>
</form>


